<div>
    <form>
        <label for="">Hospital Id:</label>
        <input type="text" id="">
        <br><br>
        <label for="">Doctor Id:</label>
        <input type="text" id="">
        <br><br>
        <label for="">Start Time:</label>
        <input type="time" id="">
        <br><br>
        <label for="">End Time:</label>
        <input type="time" id="">
        <br><br>
        <label for="">Date:</label>
        <input type="date" id="">
        <br><br>
        <label for="">Email Id:</label>
        <input type="text" id="">
        <br><br>
        <button type="submit" (onclick)="booking()"> Book An Appointment </button>
    </form>
</div>